<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <property name="show_sql">false</property>
        <property name="format_sql">true</property>
        <!-- Properties for postgresql db --> 
 		<property name="dialect">org.hibernate.dialect.PostgreSQL93Dialect</property>
        <property name="hibernate.connection.datasource">java:comp/env/jdbc/postgres/Orders</property> 
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.hbm2ddl.import_files">CreateSchema.sql,CreateOrders.sql</property> 
        
        <mapping class="com.custom.spring.entities.Order"/>
        <mapping class="com.custom.spring.entities.OrderImage"/> 
    </session-factory>
</hibernate-configuration> 