<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" strict="true"
	name="XMLConfigTest">
	<Properties>
		<Property name="infofilename">orders_info.log</Property>
		<Property name="errorfilename">orders_error.log</Property>
	</Properties>

	<Appenders>
		<Appender type="Console" name="STDOUT" target="SYSTEM_OUT">
			<Layout type="PatternLayout">
				<Pattern>%d %p %C{1.} [%t] %m</Pattern>
			</Layout>
		</Appender>
		
		<Appender type="File" name="Info_appender" fileName="${infofilename}" append="false">
			<Layout type="PatternLayout">
				<Pattern>%d %p %C{3.} [%t] %m%n</Pattern>
			</Layout>
			<Filters>
				<ThresholdFilter level="trace" onMatch="NEUTRAL" onMismatch="NEUTRAL"/>
				<ThresholdFilter level="debug" onMatch="NEUTRAL" onMismatch="ACCEPT"/>
				<ThresholdFilter level="info" onMatch="NEUTRAL" onMismatch="ACCEPT"/>
				<ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
			</Filters> 
		</Appender>
		
		<Appender type="File" name="Error_appender" fileName="${errorfilename}" append="false">
			<Layout type="PatternLayout">
				<Pattern>%d %p %C{3.} [%t] %m%n</Pattern>
			</Layout>
			<Filters>
				<ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
				<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
				<ThresholdFilter level="fatal" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
			</Filters>			
		</Appender>
	</Appenders>

	<Loggers>
		<Logger name="customLog" level="all" additivity="false">
			<AppenderRef ref="Info_appender" />
			<AppenderRef ref="Error_appender" />
		</Logger>	
		
		<Root level="all">
			<AppenderRef ref="STDOUT" level="warn"/>
		</Root>
	</Loggers>

</Configuration>

<!--
			This are examples of filters		
			//Filtering trace, warn, fatal levels 
			<Filters>
				<ThresholdFilter level="debug" onMatch="NEUTRAL" onMismatch="DENY"/>
				<ThresholdFilter level="info" onMatch="NEUTRAL" onMismatch="ACCEPT"/>
				<ThresholdFilter level="warn" onMatch="NEUTRAL" onMismatch="ACCEPT"/>
				<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
				<ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL"/>
			</Filters> 
			//Filtering trace, debug, warn, fatal levels
			<Filters>
				<ThresholdFilter level="info" onMatch="NEUTRAL" onMismatch="DENY"/>
				<ThresholdFilter level="warn" onMatch="NEUTRAL" onMismatch="ACCEPT"/>
				<ThresholdFilter level="error" onMatch="NEUTRAL" onMismatch="DENY"/>
				<ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL"/>
			</Filters> 
-->
